# GitLab Runner Docker Compose service

[Unit]
Description=GitLab Runner engine via Docker Compose
After=docker.service
Requires=docker.service

[Service]
Type=simple
WorkingDirectory={{ gitlab_runner_config_directory }}
ExecStart={{ gitlab_runner_docker_path }} compose up --remove-orphans
ExecReload={{ gitlab_runner_docker_path }} compose up -d
ExecStop={{ gitlab_runner_docker_path }} compose down
TimeoutSec=300
