---
name: ansible-lint
on:
  push:
    branches:
      - main
      - mila
  pull_request:
    branches:
      - main
      - mila

jobs:
  build:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v25.11.0
